.bg-roxo{
    background-color: #7E459B;
}

a:hover{
  font-weight: bold;
}

ul {
    list-style-type: none;
}
/* header*/
.img1-position{
  height: 65vh;
  object-position: 0 35% ;
  object-fit: cover;
}

.img2-position{
  height: 65vh;
  object-position: 10% 85%;
  object-fit: cover;
}


.img3-position{
  height: 65vh;
  object-position: 25% 25%;
  object-fit: cover;
}


.img4-position{
  height: 65vh;
  object-position: center;
  object-fit: contain;
  background-image: linear-gradient( slategrey, #7E459B);
}

/* section sobre*/
.link-sobre {
  color: #7E459B;
  padding: 10px;
}
.link-sobre:hover {
  color: #7E459B;
}
